.main-container {
  padding: 10px;

  .gap {
    height: 10px;
  }

  .input {
    width: 180px;
  }

  .required {
    color: #ff0000;
  }

  table {
    margin: 15px;
    border-collapse: collapse;

    th, td {
      border: 1px solid #ddd;
      padding: 5px;
      min-width: 100px;
      text-align: left;
    }

    th {
      background-color: #ddd;
    }
  }
}
